
@import url("layout.css");
@import url("form.css");


body {
    display: block;
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 32px;
    font-weight: 900;
}



#navtab {
    top: 0;
    background-color: #ffffff;
    width: 100vw;
    min-height: 65px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 300;
}

.nav-padding {
    padding: 0;
    text-align: left;
}


.section-wrapper {
    margin: auto;
    position: relative;
    top: 85px;
}

.ds-c-title {
    display: grid;
    grid-template-columns: 20px 200px;
    grid-gap: 16px;
    align-items: center;
}



/* Section Wrapper */
#topsection {
    padding: 24px;
    height: 400px;
    min-width: 290px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 64px;
}

#contentsection {
    padding: 24px;
    height: auto;
    min-width: 290px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 64px;
}

#middlesection {
    padding: 24px;
    height: auto;
    width: 100%;
    margin: auto;
    max-width: 800px;
}

#footer {
    height: 400px;
    width: 100%;
    background-color: rgb(95, 158, 160, .1);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


/* Card */
.ds-srf-img {
    object-fit: cover; 
    width: 100%; 
    height: 100%;
}

.ds-srf-img-secondary {
    object-fit: cover; 
    width: 100%; 
    height: 200px;
}

.ds-srf-list-img {
    object-fit: cover; 
    width: 150px; 
    height: 120px;
}

.ds-srf-primary-card {
    display: grid;
    grid-template-areas: "a";
    width: 100%;
    height: 100%;
    max-height: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    align-items: flex-end;
}

.img-bg {
    grid-area: a;
}

.title-text {
    color: #ffffff;
    grid-area: a;
    padding: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 93%);
}



.ds-srf-secondary-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.ds-srf-secondary-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.ds-srf-secondary-card {
    height: 300px;
    width: 250px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
}

.ds-srf-secondary-list {
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 32px;
}

.ds-detail-section {
    padding: 0 16px;
}

.ds-detail-section-nd-card {
    padding: 16px;
}

.ds-profile-wrapper {
    padding: 32px 0;
}

.ds-img-profile {
    max-width: 65px;
    max-height: 65px;
    width: 65px;
    height: 65px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}



@media (max-width: 479px) {
    .ds-srf-secondary-card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
    }
    .ds-srf-secondary-card {
        height: 300px;
        width: 100%;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    .section-wrapper {
        width: 100vw;
    }
    #topsection {
        padding: 0px;
    }
    #middlesection {
        padding: 0px;
    }
    .nav-padding {
        padding: 0 16px;
    }
}

@media (max-width: 848px) {
    .ds-srf-secondary-card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
    }
    .ds-srf-secondary-card {
        height: 300px;
        width: 100%;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }
    #topsection {
        padding: 0px;
    }
    #middlesection {
        padding: 0px;
    }
}

@media (max-width: 978px) {
    .section-wrapper {
        width: 90vw;
    }
    #topsection {
        height: 512px;
        margin-bottom: 64px;
        padding: 0px;
    }
    #contentsection {
        height: auto;
        margin-bottom: 64px;
        padding: 0px;
    }
    #middlesection {
        margin-bottom: 64px;
        padding: 0px;
    }
    .nav-padding {
        padding: 0 16px;
        text-align: center;
    }
    #footer {
        height: 300px;
        width: auto;
        background-color: rgb(95, 158, 160, .1);
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin-bottom: 20px;
    }
}


/* Text Styling */
.ds-opc-2 {
    opacity: .2;
}

.ds-opc-4 {
    opacity: .4;
}

.ds-opc-6 {
    opacity: .6;
}

.ds-text-primary {
    font-family: 'Roboto Slab', serif;
}

.ds-text-secondary {
    font-family: 'Roboto Mono', monospace;
}

.ds-text-14px {
    font-size: 14px;
}

.ds-text-16px {
    font-size: 16px;
}

.ds-text-20px {
    font-size: 20px;
}

.ds-text-24px {
    font-size: 24px;
}

.ds-text-28px {
    font-size: 28px;
}

blockquote {
    color: rgb(95, 158, 160);
    font-size: 28px;
    text-align: center;
    margin: 64px auto;
    max-width: 300px;
}

.ds-text-bold {
    font-weight: 700;
}

.ds-text-bold {
    font-style: italic;
}

.ds-text-bold {
    text-decoration: underline;
}