
.ds-lyt-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ds-lyt-col-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ds-c-nav-width {
    width: 800px; 
    margin: auto;
}

.ds-c-width-control {
    max-width: 800px; 
width: 100%;
    margin: auto;
}

.ds-mrgn-btm-8 {
   margin-bottom: 8px;
}

.ds-mrgn-btm-16 {
    margin-bottom: 16px;
 }

.ds-mrgn-btm-24 {
    margin-bottom: 24px;
 }

.ds-mrgn-btm-32 {
    margin-bottom: 24px;
 }

 .ds-mrgn-btm-64 {
    margin-bottom: 64px;
 }


.ds-mrgn-left-8 {
    margin-left: 8px;
 }
 
 .ds-mrgn-left-16 {
    margin-left: 16px;
  }
 
 .ds-mrgn-left-24 {
     margin-left: 24px;
  }